/* .left-nav {
  background-color: #0f1035;
  max-height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 1rem;
  transition: all 1s ease-in-out;
}

.close-btn{
  margin: 0px;
}
.left-nav:hover{
  width:20vw;
}
.icon{
  margin-right: 10px;
}
.left-nav::-webkit-scrollbar {
  display: none;
}

.info{
  width:100%;
}
.left-nav-open-close-button {
  font-size: 1.2rem;
  padding-right:79%;
  color: antiquewhite;
  cursor: pointer;
  
}

.left-nav-open-close-button:hover {
  color: #17d1c8;
}

.user-info-left-nav {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#user-img {
  background-color: aliceblue;
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #73727e;
  transition: transform 0.3s ease;
}

#user-img:hover {
  transform: scale(1.05);
}

.user-info-left-nav p {
  color: white;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.nav {
  width: 100%;
  padding: auto;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: auto;
  width:90%
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
  border-radius: 12px;
  padding: 0.75rem ;
  font-size: 1rem;
  font-weight: 500;
  width: 50%;
  height: 5%;
  
  margin: 0.5rem auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.active,
.button:hover {
  background: #ffffff;
  color: #0f1035;
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#logout {
  background: linear-gradient(145deg, #ff3c00, #c82a00);
  color: white;
  font-weight: bold;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  width: 80%;
  margin: 2rem auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(255, 38, 0, 0.5);
}

#logout:hover {
  background: white;
  color: #ff3c00;
  box-shadow: 0 0 0 3px #ff3c00 inset;
  transform: scale(1.05);
  cursor: pointer;
} */
