/*
.color-pallet{
    background-color : #eb5a3c;
    background-color : #0F1035;
    background-color : #DCF2F1;
}

*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

body{
    align-items: center;
    justify-content: center;
    align-items: center;
    background: url(bgTexture1.jpg) rgba(252, 206, 146, 0.425); 
    background-position: center;
    font-family: Arial, sans-serif;

}

.flex-row{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}


.login-signup{
    background-color: antiquewhite;
    flex-direction: column;
    min-width: 25vw;
    min-height: 25vh;
    padding: 20px;
    border: 4px solid #00000036;
    border-radius: 8px;
}


.login-main-content{
    right:0px;
    top:0px;
    background-repeat: space;
    min-width: 80vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}


.login-signup>.btn{
    text-align: center;
    justify-content: space-evenly;
    line-height:3em;
    border-top-left-radius: 8px;
    
}

.login-signup >.btn{
    width: 100%;
    font-size: large;
}

#Login,#Sign-up{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    background-color: antiquewhite;
    cursor: pointer;
}

#Sign-up{
    color:antiquewhite;
    background-color: #0F1035;
}


#form-login-signup{
    display: flex;
    gap:20px;
    padding: 50px 10px 10px 10px;
    flex-direction: column;
    align-items: center;

}

input{
    height: 5vh;
    width: 100%;
    border-radius: 8px;
    font-size: large;
    padding-left: 10px;
}



.homepg-body{
    margin: 0px 0px 0px 0px;
    width: 100vw;
    height: 100vh;
}

.header{
  height: 1vh;
  max-width: 100%;
  justify-content:flex-end;
  align-items: center;
  border-bottom: 3px solid blueviolet;
  padding-right: 5%;
  padding-bottom: 18px;
  
}

.homepg-main-content {
  overflow-y: scroll;
  overflow-x: scroll;
  flex: 1;
  transition: margin-left 0.3s ease-in-out;
  padding: 2vw;
} 


.request-form{
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 5vw;
}

*/